{
    "all": true,
    "include": [
        "index.js",
        "express.js",
        "hapi.js",
        "ssrf.js"
    ],
    "reporter": [
        "text",
        "lcov",
        "json-summary"
    ]
}
